body {
  margin: 0;
  font-family: "Source Sans Pro";
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 12px;
  background: white;
  font-weight: 600;
  font-size: 15px;
  justify-content: space-between;
  position: fixed;
}

.footer-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer-menu li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .footer-menu {
    align-items: center;
    width: 100%;
  }
}
