.price-modal-container {
  z-index: 1000;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-modal-close-btn {
  float: right;
  margin: 1em;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(99, 99, 99);
  cursor: pointer;
}

.recent-price-part {
  margin-top: 2em;
  flex: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.recent-date-part {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.recent-price-input {
  text-align: center;
  display: block;
  width: 70%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw;
  margin-left: 1em;
  border: 0;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.recent-date-input {
  text-align: center;
  display: block;
  width: 70%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw;
  margin-left: 2em;
  border: 0;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.price-modal-share-btn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.price-modal-check-btn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.price-modal-btn-div {
  width: 100%;
  margin: auto;
  padding: auto;
  margin-top: 1em;
  text-align: center;
}
