.turntable-div {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 3em;
}
.turntable-img {
  width: 800px;
  padding-left: 100px;
}
img {
  display: block;
  margin: auto;
}

.login-gif {
  margin: auto;
  text-align: center;
}

.kakao-login-btn {
  padding-top: 3em;
  width: 100%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .turntable-img {
    width: 80%;
    margin: auto;
    padding: 0;
    padding-left: 4em;
  }
  .kakao-login-btn {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .turntable-img {
    width: 80%;
    margin: auto;
    padding: 0;
    padding-left: 2em;
  }
  .kakao-login-btn {
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .turntable-img {
    width: 80%;
    margin: auto;
    padding: 0;
    padding-left: 2em;
  }
  .kakao-login-btn {
    width: 70%;
  }
}
