.genre-categories {
  font-size: 16px;
  display: block;
  margin-top: 3em;
  padding-bottom: 1em;
  position: flex;
  width: 100%;
  max-width: 900px;
  text-align: center;
  color: #9b9b9b;

  margin-left: 23%;
}

.genre-category {
  margin-right: 1em;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
  text-align: left;
}

.genre-category:hover {
  top: -2px;
}

/* ------------------앨범 부분----------------- */

.album-container {
  clear: both;
  width: 100%;
  height: 0 auto;
  margin: 15px auto 20px;
  overflow: auto;
}

.album-content {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 30%;
  -moz-column-width: 30%;
  column-width: 30%;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 6em;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.album-single-container {
  display: block;
}

.album-single-container:hover {
  cursor: pointer;
}

.album-image {
  position: relative;
  padding-top: 5%;
  float: left;
}

.album-image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.album-articles {
  padding-top: 2rem;
  padding-bottom: 1rem;
  float: left;
}

.album-artist {
  font-weight: bold;
}

.load-more-button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
}

@media screen and (max-width: 991px) {
  .album-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }

  .album-single-container {
    display: block;
    padding: -5%;
  }

  .genre-categories {
    padding-bottom: 1em;
    position: flex;
    width: 100%;
    text-align: center;
    color: #9b9b9b;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .album-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  .genre-category {
    margin-right: 0;
    padding: 0 1.5rem;
  }

  .album-container {
    margin: 5px -5px 10px;
  }
}

/* .album-wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.album-list {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 40%;
  -moz-column-width: 40%;
  column-width: 40%;
  margin-right: -30em;
  padding-top: 1em;
  position: relative;
  display: inline-block;
  padding: 0 8px;
}

.album-inner {
  display: block;
}

.album-list:hover {
  top: -2px;
}

.album-image {
  overflow: hidden;
  position: relative;
  padding-top: 5%;
}

.album-image img {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  float: left;
}

.album-articles {
  padding-top: 10%;
  float: left;
}

.album-title {
}

.load-more-button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 5%;
} */
