.edit-button {
  display: flex;
  padding: 11px 32px;
  justify-content: flex-end;
  outline: 0;
  margin-left: auto;
  text-align: center;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 12px;
}

.myinfo-name {
  padding: 8px 12px;
}

.myinfo-post {
  padding: 8px 12px;
}

.free-talk {
  padding: 8px 12px;
}

.nickname-box {
  border: none;
  border-bottom: solid 2px black;
}
.nickname-box:focus {
  outline: none;
}

.out-member-btn {
  background-color: rgb(0, 0, 0, 0);
  color: grey;
  outline: none;
  border: 0;
}
