* {
  /* box-sizing: border-box;
  position: relative; */
  margin: 0;
  padding: 0;
}
/* 
body {
  min-height: 40;
  display: grid;
  place-items: center;
  padding: auto;
}

img {
  display: flex;
} */

.render-first {
  height: 100vh;
}

.render-second {
  height: 100vh;
  /* background-color: mediumpurple; */
  position: relative;
}

.render-third {
  height: 100vh;
  /* background-color: tomato; */
}

.title-contianer {
  box-sizing: border-box;
  display: bolck;
}

.second-render-title {
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  font-size: 50px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #222;
  padding-top: 3%;
}

.render-title {
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 1%;
  font-size: 50px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #222;
  padding-top: 8%;
}

.albums-container {
  width: 100vw;
  overflow: hidden;
}

.album-content {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 30%;
  -moz-column-width: 30%;
  column-width: 30%;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 6em;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.album-single {
  display: block;
}

.album-single:hover {
  top: -2px;
  cursor: pointer;
}

.album-single-img {
  overflow: hidden;
  position: relative;
  padding-top: 5%;
}

.album-single-img img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.album-single-info {
  padding-top: 2rem;
  width: 100%;
  height: auto;
}

.album-artist {
  font-weight: bold;
  margin: auto;
}

.album-title {
  margin: auto;
  margin-top: 0.5rem;
}

@media screen and (max-width: 991px) {
  .album-content {
    overflow-x: auto;
    white-space: nowrap;
    float: left;
    padding-top: 8em;
  }

  .album-single {
    display: block;
    padding: -5%;
  }
}

@media screen and (max-width: 500px) {
  .album-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -ms-overflow-style: none;
  }

  .album-content::-webkit-scrollbar {
    display: none;
  }

  .album-single {
    display: block;
  }
  .render-title {
    margin-bottom: 0px;
    padding-top: 10%;
  }
}

/* -----------post section----------- */
.track-slider {
  width: 100vw;
  overflow: hidden;
}
.slider {
  padding-top: 12em;
  position: relative;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* .slide {
  display: flex;
} */

.slide-img {
  width: auto;
  height: 100%;
  margin: 0px;
}

.slide-img:hover {
  filter: opacity(0.8);
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 165%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 165%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 98%;
  display: grid;
  place-items: center;
}

.slide-track {
  display: flex;
  width: 100vw;
  height: 45vh;
  animation: move 45s 1 linear forwards;
  object-fit: cover;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vw);
  }
}

.slide-track:hover {
  animation-play-state: paused;
}
.donut-gif {
  position: absolute;
  width: 100%;
}

@media (max-width: 991px) {
  .slider {
    padding-top: 0;
    position: relative;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .second-render-title {
    margin-bottom: -5%;
    font-size: 50px;
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-200vw);
    }
  }
}

@media screen and (max-width: 500px) {
  .slider {
    padding-top: 5em;
    position: relative;
    height: 70vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-500vw);
    }
  }
}

/* -------------video------------ */

.video-box {
  padding-top: 7em;
  width: 100vw;
}

video {
  width: 100%;
}

@media screen and (min-width: 1370px) {
  video {
    width: 80%;
    margin-left: 10%;
  }
}
